{% include "header.html" %}


{% block body %}


<div class="panel=heading">

<h2>Adicionar Sensor <a class="pull-right btn btn-success" href="/">Voltar</a> </h2>

</div>



<div class="panel-body">

<form action="{{ url_for('processtudent') }}" method="post">
<div class="form-group">

    <label for="name"> Sensor</label>
    <input type="text" class="form-control" name="sensor" id="sensor" required = "1"  >

</div>


    <div class="form-group">

    <label for="name"> Valor</label>
    <input type="text" class="form-control" name="valor" id="valor" required = "1" >

</div>

    <div class="form-group">

    <label for="name"> Praia</label>
    <input type="text" class="form-control" name="praia" id="praia" required = "1" >

</div>




        <div class="form-group">

    <label for="name"> Cidade</label>
    <input type="text" class="form-control" name="cidade" id="cidade" required = "1"  >

</div>


    <div class="form-group">
        <input type="hidden" name="id" value="1">

     <input type="hidden" name="action" value="edit">
     <input type="submit" class="btn btn-success" name="submit" value="Adicionar Sensor">

</div>


</form>


</div>



{% endblock %}

{% include "footer.html" %}