
{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">

    <div class="row">

        <div class="col md-12">



            <h2>Lista Do Sensor <button type="button" class="btn btn-success  pull-right" data-toggle="modal" data-target="#myModal">Add Sensores</button></h2>




    {%with messages = get_flashed_messages()%}

    {%if messages%}

    {% for message in messages %}

    <div class="alert alert-success alert-dismissable" role="alert">

     <button type="button" class="close" data-dismiss="alert" aria-label ="close">

         <span aria-hidden="true">&times;</span>

     </button>
        {{message}}


    </div>


    {%endfor%}
    {%endif%}
    {%endwith%}




            <table class="table table-striped">


                <tr>
              <th>ID</th>
              <th>Sensor</th>
			  <th>Valor</th>
              <th>Praia</th>
              <th>Cidade</th>
              <th>Ação</th>


          </tr>





                {% for row in sensores %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
			        <td>{{row.4}}</td>
                    <td>


               <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">Editar</a>
                <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Tem certeza que quer apagar?')">Eliminar</a>

                    </td>

                </tr>

                <div id="modaledit{{row.0}}" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Atualizar Informação</h4>


         </div>


         <div class="modal-body">


            <form action="{{ url_for('update') }}" method="POST">


               <div class="form-group">


                  <label>Sensor:</label>
                   <input type="hidden"  name="id" value="{{row.0}}">

                  <input type="text" class="form-control" name="sensor" value="{{row.1}}">


               </div>


               <div class="form-group">


                  <label>Valor:</label>

                  <input type="text" class="form-control" name="valor" value="{{row.2}}">


               </div>
			   

               <div class="form-group">


                  <label>Praia:</label>

                  <input type="text" class="form-control" name="praia" value="{{row.3}}">


               </div>


               <div class="form-group">


                  <label>Cidade:</label>

                  <input type="text" class="form-control" name="cidade" value="{{row.4}}">


               </div>


               <div class="form-group">


                  <button class="btn btn-primary" type="sbumit">Atualizar</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>


         </div>


      </div>


   </div>


</div>


                {% endfor  %}


                </tbody>


            </table>


        </div>


<!-- Modal -->


<div id="myModal" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Por favor inserir dados</h4>


         </div>


         <div class="modal-body">


            <form action="{{ url_for('insert') }}" method="POST">


               <div class="form-group">


                  <label>Sensor:</label>
                  <input type="text" class="form-control" name="sensor" required="1">


               </div>

               <div class="form-group">


                  <label>Valor:</label>
                  <input type="text" class="form-control" name="valor" required="1">


               </div>

                <div class="form-group">


                  <label>Praia:</label>
                  <input type="text" class="form-control" name="praia" required="1">


               </div>


                <div class="form-group">


                  <label>Cidade:</label>
                  <input type="text" class="form-control" name="cidade" required="1">


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Inserir Dados</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>


         </div>


      </div>


   </div>


</div>




  {% include "footer.html" %}
    </div>


</div>


{% endblock %}


<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
